#entermain .mainbox {
  border-top: 1px solid burlywood; }
#entermain .mainmiddle {
  margin: 0 auto;
  width: 78%;
  border: 1px solid burlywood;
  border-left: none;
  border-right: none; }
  #entermain .mainmiddle p {
    width: 180px;
    height: 30px;
    background: url(../img/one/yonghulogo.jpg) no-repeat;
    margin-left: 20px;
    margin-bottom: 50px; }
  #entermain .mainmiddle h3 {
    width: 113px;
    height: 26px;
    background: url(../img/one/enterLogo.jpg) no-repeat;
    margin-left: 20px;
    border: 1px solid #999999;
    border-bottom: none; }
  #entermain .mainmiddle div .left {
    width: 50%;
    box-sizing: border-box;
    border-right: 1px solid gainsboro; }
    #entermain .mainmiddle div .left .pleasenum {
      text-align: center;
      color: burlywood;
      height: 30px; }
    #entermain .mainmiddle div .left .telnum {
      padding-top: 40px;
      width: 69%;
      margin: auto;
      padding-left: 11%; }
      #entermain .mainmiddle div .left .telnum span {
        display: inline-block;
        line-height: 20px;
        font-size: 12px;
        font-weight: 700; }
      #entermain .mainmiddle div .left .telnum input {
        height: 20px;
        width: 200px; }
    #entermain .mainmiddle div .left .mima {
      width: 67%;
      margin: 0 auto 30px;
      padding-left: 13%; }
      #entermain .mainmiddle div .left .mima span {
        display: inline-block;
        line-height: 20px;
        font-size: 12px;
        font-weight: 700; }
      #entermain .mainmiddle div .left .mima input {
        height: 20px;
        width: 200px; }
    #entermain .mainmiddle div .left .yanzhenma {
      margin: 0 auto 30px;
      width: 70%;
      margin: 0 auto;
      padding-left: 11%; }
      #entermain .mainmiddle div .left .yanzhenma span {
        display: inline-block;
        line-height: 20px;
        font-size: 12px;
        font-weight: 700; }
      #entermain .mainmiddle div .left .yanzhenma input {
        height: 20px;
        width: 200px; }
    #entermain .mainmiddle div .left .duihaodiv {
      margin: 20px auto 20px;
      width: 60%;
      padding-left: 20%; }
      #entermain .mainmiddle div .left .duihaodiv span {
        display: inline-block;
        height: 10px;
        font-size: 10px; }
      #entermain .mainmiddle div .left .duihaodiv #enterduihao {
        border: 1px solid #666666;
        width: 10px;
        height: 10px; }
    #entermain .mainmiddle div .left .loadrem {
      margin: 20px auto 20px;
      width: 60%;
      padding-left: 20%; }
      #entermain .mainmiddle div .left .loadrem a {
        display: inline-block;
        line-height: 30px;
        font-size: 16px;
        width: 100px;
        text-align: center;
        color: black; }
      #entermain .mainmiddle div .left .loadrem #loadA {
        background-color: red;
        color: #FFFFFF; }
    #entermain .mainmiddle div .left .direc {
      margin: 20px 0 20px;
      width: 55%;
      padding-left: 25%; }
  #entermain .mainmiddle div .right {
    width: 50%; }
    #entermain .mainmiddle div .right img {
      width: 100%;
      height: 160px; }
    #entermain .mainmiddle div .right .rightdiv1, #entermain .mainmiddle div .right .rightdiv2 {
      width: 80%;
      margin: 20px auto 20px;
      font-weight: 700;
      font-size: 14px;
      color: #999999; }
    #entermain .mainmiddle div .right a {
      width: 10%;
      margin: 20px 0px 40px 50px;
      text-align: center;
      font-size: 14px;
      color: #ffffff;
      background-color: red;
      line-height: 30px; }
    #entermain .mainmiddle div .right .rightdiv3 {
      padding-top: 30px; }

/*# sourceMappingURL=enterLevel.css.map */
